.album-cover-container.queue {
  height: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-left: 10px;
}

.album-cover-container.queue .floating-play {
  display: none;
  position: absolute;
  left: 8px;
  top: 19px;
 }

.album-cover-container:hover .floating-play {
  display: block;
}

.album-cover-container:hover img {
  opacity: 0.4;
 }