.rounded-image {
  border-radius: 12px;
  overflow: hidden;
}

.album-label {
  font-weight: bold;
}

.media-control-button {
  background-color: transparent;
}

.media-title {
  font-weight: bold;
}

.media-time {
  font-size: 12px;
}

.media-album-art {
  max-width: 60px;
  max-height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.year-label {
  font-size: 12px;
}

.album-cover {
  max-width: 230px;
  max-height: 230px;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.album-title {
  font-weight: bold;
  font-size: 28px;
}

.album-artist {
  font-size: 15px;
  font-weight: bold;
}

.transparent-button {
  border-radius: 20px;
  background-color: transparent;
}

.album-track-list {
  background-color: transparent;
}

.track-title {
  font-weight: bold;
}