table {
  border-spacing: 0;
}

.album-cover-container.songs {
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.album-cover-container.songs .floating-play {
  display: none;
  position: absolute;
  left: 17px;
  top: 10px;
 }

.album-cover-container.songs:hover .floating-play {
  display: block;
}

.album-cover-container.songs:hover img {
  opacity: 0.4;
 }