name: ci
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      tag:
        description: "The existing tag to publish"
        type: "string"
        required: true

jobs:
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-latest-arm]
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential  libsdl2-dev \
            libfreetype6-dev \
            libunwind-dev \
            curl \
            wget \
            zip \
            unzip \
            protobuf-compiler \
            cmake
          curl -Ssf https://pkgx.sh | sh
          pkgm install zig@0.15.1 buf deno
      - name: Build Rockbox
        run: |
          cd webui/rockbox
          deno install
          deno run build
          cd .. && mkdir build-lib && cd build-lib
          ../tools/configure --target=sdlapp --type=N --lcdwidth=320 --lcdheight=240 --prefix=/usr/local && cp ../autoconf/autoconf.h .
          make ziginstall -j$(nproc)
          cd ..
          deno install -A -r -g https://cli.fluentci.io -n fluentci
          fluentci run --wasm . release
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ inputs.tag || github.ref_name }}
