name: ci
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      tag:
        description: "The existing tag to publish"
        type: "string"
        required: true

jobs:
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential  libsdl2-dev \
            libfreetype6-dev \
            libunwind-dev \
            curl \
            wget \
            zip \
            unzip \
            protobuf-compiler \
            cmake
          curl -Ssf https://pkgx.sh | sh
          pkgm install zig@0.15.1 buf
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Setup Fluent CI
        uses: fluentci-io/setup-fluentci@v5
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Skip Rust Warnings
        run: echo "RUSTFLAGS=-A warnings" >> $GITHUB_ENV
      - name: Build Rockbox
        run: |
          export PATH=$HOME/.local/bin:$PATH
          cd webui/rockbox
          deno install
          deno run build
          cd ../.. && mkdir build-lib && cd build-lib
          ../tools/configure --target=sdlapp --type=N --lcdwidth=320 --lcdheight=240 --prefix=/usr/local && cp ../autoconf/autoconf.h .
          make lib -j$(nproc)
          cd ..
          cargo build -p rockbox-cli --release
          cargo build -p rockbox-server --release
          cargo build -p rockbox --release
          cd zig && zig build
          cd ../build-lib
          sudo make install
          cd ..
          sudo mkdir -p /usr/local/bin /usr/local/share/rockbox
          sudo cp zig/zig-out/bin/rockboxd /usr/local/bin
          sudo cp target/release/rockbox /usr/local/bin
          sudo cp -r assets/* /usr/local/share/rockbox
          fluentci run --wasm . release
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ inputs.tag || github.ref_name }}
